.Settings--Services {
	.unselected-placeholder {
		padding: 25px;
		color: $light-gray;
		text-align: center;
	}
}

.service-settings {
	p.placeholder {
		span {
			text-transform: capitalize;
		}
	}
}