.fohf {
    align-items: center;
    background-blend-mode: soft-light,screen;
    background-color: $off-white;
    background-image: linear-gradient(to bottom, rgba($damn-near-white, .5) 0%, rgba($dark-gray2, .5) 100%), radial-gradient(at 50% 0%, rgba($damn-near-white, .1) 0%, rgba($dark-gray2, .5) 50%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding-bottom: 100px;
    width: 100vw;

    h1 {
        font-size: 6vw;
        margin-top: 15px;
        text-transform: uppercase;
    }

    h2 {
    	font-size: 3vw;
    	margin-top: 10px;
    }

    .cta {
        background: $dark-gray2;
        border-radius: 6px;
        box-shadow: 0 3px 8px rgba($mid-gray, .2);
        color: $off-white;
        cursor: pointer;
        font-size: 1.2vw;
        font-weight: 400;
        margin-top: 25px;
        padding: 15px;
        text-transform: uppercase;

        &:hover {
            background: $dark-gray;
        }
    }
}
