.Item {
	position: relative;
	padding: 20px 15px;
	margin-right: 15px;
	margin: 7px 15px 7px 0;
	cursor: pointer;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 1px 8px rgba(32,32,32,0.02);

	&:hover {
		background: $damn-near-white;
		color: lighten($dark-gray2, 16%);
	}

	h2 {
		font-weight: 100;
		font-size: 18px;
	}
}

item {
	.Item {
		margin-top: 2px;
	}

	&.active {
		.Item {
			background: $damn-near-white;

			&:hover {
				cursor: default;
				color: $brand-color-dark;
			}

			&:after {
				content: ">";
				font-size: 32px;
				color: red;
				font-weight: 100;
				position: absolute;
				right: 5px;
				top: 10px;
				color: $off-white;
			}
		}
	}
}