.WelcomeHero {
	position: relative;
	margin-top: 40px;
	width: 100%;
	padding: 25px;
	background: rgba(32,32,32,1.0);
	color: white;
	display: flex;
	align-items: center;

	.fa-calendar {
		font-size: 80px;
		margin-right: 24px;
	}

	.fa-times {
		position: absolute;
		top: 10px;
		right: 10px;
		color: $light-gray;
		font-size: 20px;
		cursor: pointer;
	}
}

.WelcomeHero__inner {

	.instructions {
		padding: 15px 25px 25px 25px;
		background: lighten(rgba(32,32,32,1.0), 10%);
		margin-top: 14px;

		.title {
			font-size: 12px;
			font-weight: 700;
			margin-bottom: 7px;
			letter-spacing: 1px;
		}

		.footer {
			margin-top: 15px;
			font-size: 12px;
			font-style: italic;
			color: $light-gray;
		}
	}

	h1 {
		margin-bottom: 7px;
	}

	p {
		line-height: 1.5;
		font-size: 16px;

		&.sub {
			font-size: 22px;
		}

		span, a {
			text-decoration: none;
			color: yellow;
			cursor: pointer;

			&:hover {
				text-shadow: 2px 2px rgba(32,32,32,1);
				color: darken(yellow, 3%);
			}
		}
	}
}