.ngdialog-close {
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
}

button,
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darken($secondary-background-color, 5%);
	border: 1px solid darken($secondary-background-color, 8%);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	outline: none;
	padding: 7px 10px;
	height: 33px;
	text-transform: capitalize;
	transition: all .25s ease;

	&.clear {
		border: 0;
		background: transparent;

		&:hover {
			border: 0;
			background: transparent;
		}
	}

	&.btn--nav-back {
		font-size: 16px;
		margin-bottom: 10px;
		color: $gray;

		&:hover {
			color: $dark-gray;
			background: white;
		}
	}

	&.btn--action {
		width: 100%;
	}

	&.btn--pale {
		font-weight: 100;
		color: $light-gray;

		&:hover {
			color: $dark-gray2;
		}
	}

	&.btn--dark {
		background-color: $dark-gray2;
		border: 0;
		color: $light-gray2;

		&:hover {
			background-color: $dark-gray;
		}
	}

	&[disabled] {
		background-color: $secondary-border-color;
		color: $gray;
		border: 1px solid $secondary-border-color;
		cursor: not-allowed !important;

		&:hover {
			background-color: $secondary-border-color;
			color: $gray;
			border: 1px solid $secondary-border-color;
			cursor: not-allowed !important;
		}
	}

	&.rounded {
		border-radius: $button-radius;
	}
	
	&.semi-wide {
		padding: 7px 40px;
	}

	&.wide {
		width: 100%;
	}

	&.not-rounded {
		border-radius: 0;
	}

	&.semi-rounded {
		border-radius: 5px;
	}

	&:hover {
		background-color: $secondary-background-color;
	}

	&.small {
		padding: 7px 10px;
	}

	&.action {
	    background: linear-gradient(darken($brand-color, 5%), darken($brand-color, 8%));
		border: 1px solid $brand-color;
		color: $button-color;

		&:hover {
		    background: linear-gradient($brand-color, darken($brand-color, 8%));
		    border: 1px solid darken($brand-color, 5%);
			border: 1px solid $brand-color;
		}

		&:disabled {
			background: $light-gray2;
			border: 1px solid $light-gray2;
			color: $damn-near-white;
		}
	}
}

.btn-group {
	display: flex;

	button {
		border-radius: 0;
		font-size: 20px;

		&:last-child {
			margin: 0 0 0 -3px;
		}

		&:hover {
			background-color: $dark-gray2;
			border-color: $dark-gray2;
			color: $button-color;
		}

		&.active {
			background-color: $dark-gray2;
			border-color: $dark-gray2;
			color: $button-color;
		}
	}
}
