.IWModal {
	.ngdialog-content {
		padding: 0 !important;
		border-radius: 4px;
		background: transparent !important;
		width: 600px;
		left: calc(50% - 300px); 
	}

	&.width-800 {

		.ngdialog-content {
			width: 800px !important;
			left: calc(50% - 400px) !important;
		}
	}

	.ngdialog-close {
		&::before {
			font-size: 22px !important;
			right: 5px !important;
			top: 18px !important;
		}
	}

	header {
		background: white;
		border-bottom: 1px solid $secondary-border-color;
		padding: 20px 50px 20px 32px;

		h1 {
			font-size: 18px;
			font-weight: 300;
		}
	}

	section {
		padding: 32px 32px 1px 32px;
		background: $damn-near-white;
	}

	footer {
		background: $damn-near-white;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 32px;

		button {
			margin-left: 12px;
		}
	}

	h3 {
		font-weight: 600;
		font-size: 14px;
	}

	p {
		font-size: 13px;
		line-height: 1.5;
		white-space: pre-line;
	}

	.buttons {
		margin-top: 15px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
