.listings {
	list-style-type: none;

	.placeholder {
		margin-top: 25px;
		width: 100%;
		text-align: center;
		font-size: 18px;
		color: $light-gray;
	}
}

.listing-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 10px;
	border-bottom: 1px solid transparent;

	&:hover {
		background: $damn-near-white;
		border-color: $secondary-border-color !important;

		&:last-child {
			border-bottom: 1px solid $secondary-border-color;
		}

	}

	&:not(:last-child) {
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		border-bottom: 1px solid $secondary-border-color;
	}

	.left {
		padding: 15px 0;
		flex: 1;
		cursor: pointer;

		h3 {
			font-size: 16px;
			font-weight: 300;
			line-height: 1;
		}

		span {
			font-size: 12px;
			color: $light-gray;
		}
	}

	.right {
		font-size: 18px;

		i {
			cursor: pointer;
			color: $light-gray;
			transition: all .15s ease;
			background: white;
			padding: 0;
			border-radius: 100%;

			&:hover {
				color: white;
				background: $brand-color;
				padding: 3px 5px;
				box-shadow: 2px 3px 5px rgba(100,100,100,.2);
			}
		}
	}
}