.table-list {
	.thead {
		height: auto;
		margin: 0 !important;
		margin-top: 15px;
		padding: 5px 0;

		div {
			font-weight: 700;

			&:first-child {
				padding-left: 10px;
			}

			&.col-4-10 {
				padding-left: 40px;
			}
		}
	}

	.table-list-item {
		&:last-of-type {
			li {
				border-bottom: 0;
			}
		}

		li {
			border-bottom: 1px solid $main-border-color;
		}
	}
}