<div class="ImagePicker__content">
	<header>
		<h1>{{ $ctrl.heading || 'Select Image' }}</h1>
	</header>
	<section>
		<image-picker
			model="$ctrl.model"
			images="$ctrl.images"
			category="$ctrl.category"
			categories="$ctrl.categories"
			selected-image="$ctrl.selectedImage">
		</image-picker>
	</section>

	<footer>
  		<button type="button" class="clear" ng-click="closeThisDialog('canceled')">{{ $ctrl.cancelButton || 'Cancel' }}</button>
  		<button type="button" class="action semi-wide" ng-click="$ctrl.use()">{{ $ctrl.button || 'Use' }}</button>
	</footer>
</div>