$image-size: 150px;

.ImagePicker {
	padding-top: 50px !important;

	.filters {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		padding-bottom: 15px;
		position: relative;
		border-bottom: 1px solid $secondary-border-color;

		input[type=text] {
			width: 50%;
		}

		.filters__right {
			button {
				span {
					text-transform: capitalize;
				}
			}
		}
	}

	#image-list {
		display: flex;
		flex-wrap: wrap;
		max-height: 50vh;
		overflow: auto;

		@include fancy-scrollbar;
	}

	.add-image-btn {
        overflow: hidden;
		background: $light-gray2;
    	border: 2px dashed $light-gray;
    	border-radius: 3px;
    	height: $image-size;
    	width: $image-size;

        &::before {
            content: '\F067';
            font: normal normal normal 50px FontAwesome;
        }

        input[type="file"] {
            position: fixed;
            top: -1000px;
        }
    }


    .image {
		position: relative;
	    display: flex;
	    justify-content: center;
 		align-items: center;
	    cursor: pointer;
    	max-width: $image-size;
    	max-height: $image-size;
    	margin: 15px;
    	border: 2px solid transparent;

		i {
			cursor: pointer;
			color: $white;
			transition: all .15s ease;
			background: transparent;
			padding: 0;
			border-radius: 100%;
			position: absolute;
			right: 3px;
			top: 3px;
			text-shadow: .5px .5px 0px rgba(2,2,2,1);

			&:hover {
				color: white;
				background: $brand-color;
				padding: 3px 5px;
				box-shadow: 2px 3px 5px rgba(100,100,100,.2);
			}
		}

        &:hover {
            background: $light-gray2;
        }

        &.selected {
            background: $off-white;
            border: 2px solid $brand-color;
        }

        &.uploading {
            position: relative;

            &::before {
                background: rgba($dark-gray2, .7);
                content: ' ';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 10;
            }

            &::after {
                animation: spinner .6s linear infinite;
                border: 1px solid $light-gray;
                border-radius: 50%;
                border-top-color: $brand-color;
                box-sizing: border-box;
                content: '';
                height: 50px;
                left: 50%;
                margin-left: -25px;
                margin-top: -25px;
                position: absolute;
                top: 50%;
                width: 50px;
                z-index: 10;
            }

            &:hover {
                background-color: $light-gray;
            }
        }

        img {
            $image-size: 100%;

            align-self: center;
            max-height: $image-size;
            max-width: $image-size;
        }
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
