.sidebar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
        
    .sidebar__logo {
        width: 100%;
        text-align: center;
        padding: 25px;
        
        img {
            max-width: 50px;
        }
    }

    .toggle-visibility {
        position: absolute;
        z-index: 9999;
        top: 50%;
        right: -2px;

        width: 2px;
        height: 25px;

        cursor: pointer;

        border-radius: 25px;
        background: $dark-gray;
        
        &:hover {
            right: -13px;

            display: flex;

            width: 25px;
            height: 25px;

            background: transparent;

            align-items: center;
            justify-content: center;
            &.expand {
                &::after {
                    content: '\f054';
                }
            }
            &::after {
                font-family: 'FontAwesome';
                font-size: 18px;

                content: '\f053';

                color: $dark-gray;
            }
        }
    }
    .inner {
        position: relative;
        z-index: 3;

        overflow: hidden;

        width: 25px;
        background: $sidebar-background-color;
        height: 100%;
        transition: all .25s ease;

        .export-btn {
            display: none;
        }
        
        &.expanded {
            width: 225px;
        }
    }
}
