.sidebarSubNav {
	background: $light-gray2;
	height: 100%;
	position: relative;
	width: 75px;
	z-index: 1;
	border-right: 1px solid darken($light-gray2, 3%);
	box-shadow: inset -2px 0 5px rgba(100,100,100,0.02);

	@include slide-in-right-animation;

	.navigation {
		list-style-type: none;
		padding: $navigation-padding 0 0;

		li {
			box-sizing: border-box;
			color: $dark-gray2;
			font-size: 28px;
			padding: 20px 0;
			text-align: center;
			width: 100%;
			cursor: pointer;

			&.active {
				background: $dark-gray2;
				color: $light-gray2;
				cursor: default;
			}

			&:hover {
				background: $dark-gray2;
				color: $light-gray2;
			}
		}
	}
}