$pad: 20px;

.row {
    display: flex;
    width: 100%;

    .column {
        flex: 1;

        &.align-right {
            text-align: right;
        }

        &.margin-right {
            margin-right: 15px;
        }

        &.margin-left {
            margin-left: 15px;
        }
    }
}

.grid {
    margin: 0 0 10px;

    &.no-pad {
        margin: 0;
        padding: 0;
    }

    &.equal-height {
        display: flex;
    }

    &::after {
        // Or @extend clearfix
        clear: both;
        content: '';
        display: table;
    }
}

[class*='col-'] {
    float: left;
    padding-right: $pad;

    .grid &:last-of-type {
        padding-right: 0;
    }

    &.equal-height {
        display: flex;
    }
}

.col-1-10 {
    width: 10%;
}

.col-2-10 {
    width: 20%;
}

.col-3-10 {
    width: 30%;
}

.col-4-10 {
    width: 40%;
}

.col-5-10 {
    width: 50%;
}

.col-6-10 {
    width: 60%;
}

.col-7-10 {
    width: 70%;
}

.col-8-10 {
    width: 80%;
}

.col-9-10 {
    width: 90%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3 {
    width: 33.33%;
}

.col-1-2 {
    width: 50%;
}

.col-1-4 {
    width: 25%;
}

.col-1-8 {
    width: 12.5%;
}

// Opt-in outside padding
.grid-pad {
    padding: $pad 0 $pad $pad;

    [class*='col-']:last-of-type {
        padding-right: $pad;
    }
}

.grid-pad-top {
    padding-top: $pad;
}
