* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: $primary-background-color;
	color: $primary-font-color;
	font-family: Helvetica, 'Gill Sans', Arial, sans-serif, sans-serif;
	font-weight: 100;
}

.skeleton-bottom {
	display: flex;
	flex-direction: row;
	height: 100%;
	position: relative;

	sidebar {
		flex: 0 1 auto;
		position: relative;

		.sidebar {
			position: fixed;
		}
	}

	.app-container {
		flex: 1;
		height: 100%;
		margin-left: 40px;
		width: calc(100% - 40px);
		
		&.with-sidebar {
			margin-left: 225px;
			width: calc(100% - 225px);
		}
	}
}

.page-container {
	width: 100%;

	display: flex;
	justify-content: center;
	padding: 0 10px;

	.section-columns {
		display: flex;

		.column {
			width: 50%;
		}
	}

	.shaded {
		background: white;
		border-radius: 5px;
		border: 1px solid $off-white;
		box-shadow: 0px 1px 8px rgba(32,32,32,0.02);
	}

	section {
		@include media(1500px) {
			max-width: 80%;
		}
		
		width: 100%;
		padding: 20px;
		min-height: 100px;
		
		.section__heading {
			margin-bottom: 15px;
			font-size: 18px;
			font-weight: 300;
			text-transform: capitalize;
			
			h1 {
				font-weight: 300;
				font-size: 23px;
			}

			h2 {
				font-size: 18px;
				font-weight: 300;
			}
		}

		.section__heading--with-action {
			display: flex;
			align-items: center;

			&.space-between {
				justify-content: space-between;
			}

			button {
				margin-left: 24px;
			}
		}
	}
}