label.checkbox {
    // Hide the ugly checkbox
    display: inline-block;
    font-size: 14px;
    height: 100%;
    padding: 10px 0;

    > input {
        display: none;
    }

    // New beautiful checkbox
    i {
        background: $gray;
        border-radius: 14px;
        float: right;
        height: 22px;
        padding: 2px;
        position: relative;
        transition: .25s .09s;
        width: 44px;

        &.disabled {
            background: $primary-background-color;
        }

        &::after {
            background: $secondary-background-color;
            border-radius: 14px;
            content: ' ';
            display: block;
            height: 18px;
            left: 2px;
            position: absolute;
            top: 2px;
            transition: .25s;
            width: 20px;
        }
    }

    // Checked-state
    > input:checked + i {
        background: $brand-color;
    }

    > input:checked + i::after {
        transform: translateX(20px);
    }

    // Label-hover
    &:hover {
        color: $primary-font-color;
        cursor: pointer;
    }
}
