.form-group {
	&.float-label {
		.dropdown {
			&.with-icon {
				&:after {
					top: 15px;
				}
			}
			select {
	            padding: 20px 10px 5px 10px;
			}
		}
	}
}

.dropdown {
	align-items: center;
	color: $dark-gray2;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	outline: none;
	position: relative;
	width: 100%;
	font-size: 14px;

	&.with-icon {
		&:after {
			position: absolute;
            content: "\e609";
			right: 10px;
			top: 10px;
			font-family: buoycons;
            font-size: .8rem;
		}
	}

	.fa {
		color: $secondary-font-color;
		font-weight: 700;
		pointer-events: none;
		position: absolute;
		top: calc(50% - 9px);
		right: 12px;
	}

	&.light {
		$this-transition: background-color .25s ease;

		select {
			background-color: $field-background;
			border: 1px solid $secondary-border-color;
			color: $field-color;
			transition: $this-transition;

			&:hover {
				background-color: $field-background-hover;
				transition: $this-transition;
			}
		}
	}

	&.dark {
		select {
			background-color: $mid-gray;
			border: 1px solid $mid-gray;
			color: $white;
		}
	}

	&.thin {
		select {
			height: 35px;
			padding: 0 10px 0 5px !important;
		}
	}

	&.filter-dropdown {
		width: 95px;

		select {
			background-color: $light-gray;
			border: 0;
			border-radius: 6px;
			color: $white;
			font-size: 12px;
			font-weight: 100;
			height: auto;
			padding: 3px 6px;
			text-align: center;

			&.filtered {
				background-color: $brand-color;
			}
		}
	}

	select {
        -moz-appearance: none;
        -webkit-appearance: none;
		border: 1px solid $secondary-border-color;
		border-radius: 0;
		cursor: pointer;
		font-size: inherit;
		font-weight: 100;
		outline: none;
		padding: 10px 10px 10px 5px;
		text-overflow: '';
		width: 100%;
		
		&::-ms-value {
			color: $primary-font-color;
			background: transparent;
		}
		
		&::-ms-expand {
    		display: none;
		}
	}

	select[disabled] {
		color: rgba($primary-font-color, .3);
	}
}
