.form-section__Header {
    font-weight: 400;
    font-size: 16px;

    margin-bottom: 13px;

    &:not(:first-child) {
        border-top: 1px solid $secondary-border-color;
        padding-top: 13px;
    }
}

.checkbox-group {
    display: flex;
    align-items: center;

    color: $light-gray;

    font-size: 14px;
    font-weight: 300;

    label {
        margin-right: 14px;
    }
}

.form-group {
    margin-bottom: 15px;
    padding-bottom: 15px;

    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &.has-error {
        &.pulse {
            @include pulse($red, 1);    
        }
        
        label {
            color: $warn-color;
        }
        
        input[type=text],
        input[type=email],
        input[type=number],
        textarea,
        .selectize-input
        {
            background-color: lighten($warn-color, 45%);
			border: 1px solid lighten($warn-color, 20%);

            &:active,
			&:focus {
                border: 1px solid $warn-color !important;
            }
        }
    }

    &.input-icon-left {
        color: $gray;
		position: relative;

        > i {
            display: block;
            left: 5px;
            pointer-events: none;
			position: absolute;
			top: 35px;
        }

        input {
            padding-left: 15px;
        }
    }

    &.input-icon-right {
        color: $gray;
		position: relative;

        > i {
            display: block;
            pointer-events: none;
			position: absolute;
			right: 5px;
			top: 35px;
        }

        input {
            padding-right: 18px;
        }
    }

    &.float-label {
        position: relative;

        label {
            font-size: 10px;
            font-weight: 400;
            left: 12px;
			letter-spacing: .8px;
			pointer-events: none;
			position: absolute;
            text-transform: uppercase;
			top: 6px;
            z-index: 2;
        }

        input[type=text],
        input[type=email],
        input[type=password],
		input[type=number],
		textarea {
            padding: 20px 10px 5px 10px;
        }
    }

    input[type=text],
    input[type=email],
    input[type=number],
    textarea {

        &:active,
        &:focus {
            background: $white;
            border: 1px solid $secondary-border-color;
            color: $dark-gray;
        }
    }

    label {
        color: $light-gray;
        display: block;
        margin-bottom: 5px;
    }

    span.error {
        color: $warn-color;
		font-size: 12px;
        line-height: 1;
        margin-top: 3px;
    }
}

.form-buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;

    &.space-between {
        justify-content: space-between;
    }

    &.flex-end {
        justify-content: flex-end;
    }
}