$this-tansition: all .5s ease;

input[type=text],
input[type=number],
input[type=password],
input[type=url],
input[type=email],
textarea {
	background: $field-background;
	border: 1px solid $secondary-border-color;
	color: $field-color;
	font-size: 14px;
	font-weight: 100;
	outline: none;
	padding: 10px 5px;
	transition: $this-tansition;
	width: 100%;

	&:hover,
	&:focus,
	&:active {
		background: $field-background-hover;
		transition: $this-tansition;
	}

	&.no-transition {
		transition: none !important;

			&:hover,
			&:focus,
			&:active {
				transition: none !important;
			}
	}
}