.radio-tab {
	&.selected {
		border-color: $green;
		cursor: default;
	}
	
	&:hover {
		&::before {
			border-color: $green;
		}
	}

	&.selected {

		&::before {
			border-color: $green;
		}

		&::after {
			background: $green;
		}
		
		&:hover {
			&::before {
				border-color: darken($green, 5%);
			}
		}
	}

	&::before {
		content: '';
		position: absolute;
		border: 2px solid $primary-border-color;
		border-radius: 50%;
		height: 22px;
		width: 22px;
		top: 0px;
		left: 0px;
	}

	&::after {
		content: '';
		position: absolute;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		margin-top: -4px;
		top: 7px;
		left: 3px;
		background: transparent;
	}
}