@mixin fade-in-animation() {
	&.ng-enter {
        opacity: 0;
        transition: .75s;
    }

    &.ng-enter-active {
        opacity: 1;
    }

    &.ng-leave {
        opacity: 1;
        transition: .25s;
    }

    &.ng-leave-active {
        opacity: 0;
    }
}

@mixin fade-out-animation() {
      &.ng-leave {
        opacity: 1;
        transition: 1s;
    }

    &.ng-leave-active {
        opacity: 0;
    }  
}

@mixin slide-in-right-animation() {
  &.ng-enter {
    opactiy: 0;
    transition: .1s cubic-bezier(.89,1.08,.74, 1.08);
    left: -100px;
  }

    &.ng-enter-active {
        opacity: 1;
        left: 0;
    }

    &.ng-leave {
        opacity: 1;
        left: 0;
        transition: all .4s ease;
    }

    &.ng-leave-active {
        opacity: 0;
        left: -100px;
    }


}

@mixin slide-up-animation() {
    &.ng-enter {
        opacity: 0;
        top: 200px;
        transition: .5s cubic-bezier(.93, .59, .59, 1.05);
    }

    &.ng-enter-active {
        opacity: 1;
        top: 0;
    }

    &.ng-leave {
        opacity: 1;
        top: 0;
        transition: all .4s ease;
    }

    &.ng-leave-active {
        opacity: 0;
        top: 200px;
    }
}
@mixin slide-down-animation() {
    &.ng-enter {
        opacity: 0;
		    top: -200px;
        transition: .3 cubic-bezier(.93, .59, .59, 1.05);
    }

    &.ng-enter-active {
        opacity: 1;
		    top: 0;
    }

    &.ng-leave {
        opacity: 1;
		    top: 0;
        transition: all .3s ease;
    }

    &.ng-leave-active {
        opacity: 0;
		    top: -200px;
    }
}

$pulse-bg-colors: ();

@mixin pulse($color, $times) {
    $animation-id: 'pulse-' + str-slice(inspect($color), 2);

  // If color hasn't already been created
  @if not index($pulse-bg-colors, $animation-id) {
    @at-root {
      %#{$animation-id} {
        animation: #{$animation-id} 2s #{$times};
      }
      @keyframes #{$animation-id} {
          0% {
            box-shadow: 0 0 0 0 #{$color};
          }
          70% {
              box-shadow: 0 0 0 10px rgba($color, 0);
          }
          100% {
              box-shadow: 0 0 0 0 rgba($color, 0);
          }
      }
    }
    // Add color to index
    $pulse-bg-colors: append($pulse-bg-colors, #{$animation-id}) !global;
  }
  
  // Extend the global animation
  @extend %#{$animation-id};
}