@mixin media($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin fancy-scrollbar() {
	&::-webkit-scrollbar {
	 	height: 2px;
		width: 2px;
	}

	&::-webkit-scrollbar-button {
	  	height: 0;
		width: 0;
	}

	&::-webkit-scrollbar-thumb {
	  	background: $light-gray2;
	  	border: 0 none $white;
	  	border-radius: 50;
	}

	&::-webkit-scrollbar-thumb:hover {
	  	background: $light-gray2;
	}

	&::-webkit-scrollbar-thumb:active {
	  	background: $light-gray2;
	}

	&::-webkit-scrollbar-track {
	  	background: $white;
	  	border: 0 none $white;
	  	border-radius: 50;
	}

	&::-webkit-scrollbar-track:hover {
	  	background: $white;
	}

	&::-webkit-scrollbar-track:active {
	  	background: $white;
	}

	&::-webkit-scrollbar-corner {
	  	background: transparent;
	}
}

@mixin scale($level) {
	-ms-transform: scale($level);
	-ms-transform-origin: 0 0;
    -moz-transform: scale($level);
    -moz-transform-origin: 0 0;
    -o-transform: scale($level);
    -o-transform-origin: 0 0;
    -webkit-transform: scale($level);
    -webkit-transform-origin: 0 0;
}