//Palette
$blue-dark: rgba(0, 37, 82, 1);
$blue-light: rgba(47, 69, 112, 1);
$damn-near-white: rgba(250, 250, 250, 1);
$dark-gray: rgba(59, 75, 75, 1);
$dark-gray2: rgba(45, 55, 64, 1.0);
$darker-green: rgba(34, 150, 82, 1);
$gray: rgba(149, 165, 166, 1);
$green: rgba(46, 204, 113, 1);
$light-gray: rgba(169, 175, 176, 1);
$light-gray2: rgba(244, 242, 244, 1);
$mid-gray: rgba(103, 111, 111, 1);
$off-white: rgba(245, 244, 245, 1);
$red: rgba(231, 76, 60, 1);
$white: rgba(255, 255, 255, 1);
$yellow: rgba(241, 196, 15, 1);
