//Site variables
$brand-color: $blue-dark;
$brand-color-dark: $blue-light;

$primary-background-color: rgba(244, 246, 248, 1.0);
$primary-border-color: $gray;
$primary-font-color: $dark-gray2;
$secondary-background-color: $damn-near-white;
$secondary-border-color: $light-gray2;
$secondary-font-color: $mid-gray;
$warn-color: $red;
$success-color: $green;
$caution-color: $yellow;
$hover-color: $brand-color;

//Block UI variables
$block-ui-background: $dark-gray2;

//Button variables
$button-background: $mid-gray;
$button-background-hover: $dark-gray2;
$button-color: $off-white;
$button-radius: 6px;
$secondary-button-radius: 0;

//Form variables
$field-background: $damn-near-white;
$field-background-hover: $white;
$field-color: $mid-gray;

//Shadow variables
$base-shadow: 1px 1px 6px rgba($dark-gray, .1);
$card-shadow: $base-shadow;
$card-shadow-hover: 6px 10px 12px rgba($dark-gray, .15);
$pop-down-shadow: 0 2px 5px 0 rgba($dark-gray2, .2);

//Toast variables
$toast-background: $dark-gray2;
$toast-background-fail: $warn-color;
$toast-background-success: $success-color;
$toast-background-warning: $caution-color;
$toast-color: $damn-near-white;
$toast-shadow: 0 0 12px $dark-gray2;

//Sizes
$navigation-padding: 48px;



// Sidebar
$sidebar-background-color: white;
$sidebar-link-color: $dark-gray;
$sidebar-link-hover-color: $brand-color;

$sidebar-link-disabled-color: $off-white;

$sidebar-link-active-color: $dark-gray2;
$sidebar-link-active-background: $off-white;

$sidebar-icon-color: $light-gray;
$sidebar-icon-active-color: $brand-color;

