.ThemeManager__nav {	
	ul {
		list-style-type: none;
		padding: 25px;
		border-bottom: 1px solid $secondary-border-color;
		margin-bottom: 25px;

		li {
			display: inline;
			margin-right: 24px;
			cursor: pointer;

			&.active {
				cursor: default;
				font-weight: 700;
				padding-bottom: 25px;
				border-bottom: 1px solid $brand-color;
			}
		}
	}
}

.color-item {
	width: 45%;
	display: flex;
	margin-bottom: 25px;
	min-width: 310px;
	padding-right: 10px;

	.item-image {
		width: 50px;
		height: 50px;
		background: $gray;
		cursor: pointer;

		.image {
			width: 100%;
			height: 100%;
			background-size: cover;
		}
	}

	.details {
		flex: 1;
		margin-left: 12px;

		h4 {
			font-size: 16px;
			font-weight: 600;
			color: $brand-color-dark;
			line-height: 1.4;
		}

		p {
			color: $secondary-font-color;
		}
	}
}

.theme-section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	.form-group {
		width: 100%;
	}

	&.section--images {
		display: flex;

		.color-item {
			flex-direction: column;
		}

		.item-image {
			width: 150px;
			height: 150px;
		}

		.image {
			position: relative;

			img {
				max-width: 100%;
				top: 0;
				left: 0;
			}
		}
	}
}