<div class="ActionModal__content">
	<header ng-if="$ctrl.heading">
		<h1>{{ $ctrl.heading }}</h1>
	</header>

	<section>
		<h3 ng-if="$ctrl.subHeading">{{ $ctrl.subHeading }}</h3>
		<p>{{ $ctrl.message }}</p>
	</section>

	<footer>
  		<button type="button" class="clear" ng-click="closeThisDialog('canceled')">{{ $ctrl.cancelButton || 'Cancel' }}</button>
  		<button type="button" class="action semi-wide" ng-click="$ctrl.action($ctrl.cb)">{{ $ctrl.button || 'Ok' }}</button>
	</footer>
</div>