tooltip tip.navbar {
    min-width: 130px;
}

.app-navbar {
	padding: 0;
	position: relative;
	z-index: 999;

	.fixed {
		left: 0;
		position: fixed;
        top: 0;
		width: 100%;
	}
}

.app-navbar__inner {
	background: $brand-color-dark;
	color: white;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 2%;
	position: relative;
	width: 100%;

	@include media(1000px) {
		padding: 10px 10%;
	}

	@include media(730px) {
		align-items: center;
		justify-content: space-between;
		max-height: 48px;
	}

	&::before,
	&::after {
		position: absolute;
		content: '';
	    top: 50%;
		bottom: 0;
	    left: 0px;
	    right: 0px;
		box-shadow: $base-shadow;
		z-index: -1;
	}

	.title {
		img {
			cursor: pointer;
            margin-right: 10px;
            max-height: 28px;
		}

		h1 {
			cursor: pointer;
            font-size: 20px;
			font-weight: 100;
			margin-right: 15px;
			
		}
		
		.logo {
			align-items: center;
            cursor: pointer;
            display: flex;
		}

		&.with-action {
			align-items: center;
			display: flex;
			justify-content: space-between;
			width: 100%;

			@include media(730px) {
				justify-content: flex-start;
				width: 40%;
			}

			.stepper {
				color: $light-gray;
                font-size: 12px;
				line-height: .5;
			}
		}
	}
}
