<div class="ActionModal__content">
	<header>
		<h1>Create Theme</h1>
	</header>

	<section>
		<h3 style="margin-bottom: 10px">Give your theme a name before getting to the fun stuff.</h3>
		
		<div class="form-group float-label">
			<label for="name">Theme Name</label>
			<input type="text" ng-model="$ctrl.name">
		</div>
	</section>

	<footer>
  		<button type="button" class="clear" ng-click="closeThisDialog('canceled')">{{ $ctrl.cancelButton || 'Cancel' }}</button>
  		<button
  			type="button"
  			class="action semi-wide"
  			ng-disabled="$ctrl.name.length === 0"
  			ng-click="$ctrl.action($ctrl.name)">{{ $ctrl.button || 'Create' }}</button>
	</footer>
</div>