.Settings--Theme__AddThemeModal {
	h3 {
		text-align: center;
	}

	input[type=text] {
		font-size: 32px !important;
		padding-top: 23px !important;
		border: 0 !important;
		background: transparent !important;
		border-bottom: 1px solid $primary-border-color !important;
	}
}

.Settings--Theme {
	.sub-section {
		&:not(:last-child) {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid $light-gray;			
		}
	}
}

.theme-item {
	position: relative;
	padding: 20px 15px;
	margin-right: 15px;
	margin: 7px 15px 7px 0;
	cursor: pointer;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 1px 8px rgba(32,32,32,0.02);
	text-transform: capitalize;

	&.active {
		background: $damn-near-white;

		&:hover {
			cursor: default;
			color: $brand-color-dark;
		}

		&:after {
			content: ">";
			font-size: 32px;
			font-weight: 100;
			position: absolute;
			right: 5px;
			top: 10px;
			color: $off-white;
		}
	}
	
	&:hover {
		background: $damn-near-white;
		color: lighten($dark-gray2, 16%);
	}

	h2 {
		font-weight: 100;
		font-size: 18px;
	}
}

.theme-list {
	width: 60%;
	height: 100%;
	padding-right: 10px;

	.placeholder {
		font-size: 18px;
		color: $secondary-font-color;
		text-align: center;
		padding: 25px;
	}
}