.navigation {
    padding: 5px;
    list-style-type: none;

    li {
        display: flex;
        align-items: center;

        i {
            flex: 1;
            color: $sidebar-icon-color;
            font-size: 24px;
        }
        
        span {
            color: $sidebar-link-color;
            width: 80%;
            font-size: 15px;
            font-weight: 400;
        }

        font-size: 16px;
        line-height: 1;
        position: relative;
        z-index: 3;
        display: flex;
        box-sizing: border-box;
        padding: 10px 25px;
        cursor: pointer;
        user-select: none;
        text-decoration: none;
        align-items: center;

        i {
            margin-right: 10px;
        }

        &.disabled {
            cursor: not-allowed;
            color: $sidebar-link-disabled-color;
        }
        
        &.active {
            background: $sidebar-link-active-background;
            cursor: default;
            color: $sidebar-link-active-color !important;

            i {
                color: $sidebar-icon-active-color;
            }
        }

        &:hover {
            color: $sidebar-link-hover-color;
        }
    }
}