.Settings--General,
.Settings--Services {
	max-width: 70%;
}

.sub-section {
	.section-item {
		display: flex;
		margin-bottom: 18px;

		.ui-select-container {
			width: 100%;
		}

		.checkbox {
			padding: 5px 0;
		}

		.details {
			p {
				margin-top: 3px;
				font-size: 12px;
				line-height: 1.5;
			}
		}
	}
}

.setting-type {
	display: flex;
	padding: 25px;
	cursor: pointer;

	&:hover {
		i {
			background: darken(rgba(244, 246, 248, 1), 5%);
		}

		h4 {
			color: $dark-gray2;
		}
	}

	i {
		background: rgba(244, 246, 248, 1);
		color: rgba(145, 158, 171, 1);
		border-radius: 3px;
		padding: 10px;
		font-size: 22px;
		margin-right: 14px;
	}

	div {
		display: flex;
		flex-direction: column;

		h4 {
			font-size: 16px;
			font-weight: 600;
			color: $brand-color-dark;
			line-height: 1.4;
		}

		span {
			color: rgba(145, 158, 171, 1);
		}
	}
}
